<section id="heros" class="row">
        <h2>Heros Listing</h2>
        <div id="HerosList" ng-repeat="hero in heros">
          <div class="hero row">
            <div>
              <label for="alias">Alias:</label>
              <input type="text" id="title" name="title" ng-model="hero.alias" />
            </div>

            <div>
              <label for="firstName">First Name:</label>
              <input type="text" id="firstName" name="firstName" ng-model="hero.firstName"/>
            </div>

            <div>
              <label for="lastName">Last Name:</label>
              <input type="text" id="lastName" name="lastName" ng-model="hero.lastName"/>
            </div>

            <div>
              <label for="city">City:</label>
              <input type="text" id="city" name="city" ng-model="hero.city"/>
            </div>

            <div>
              <label for="powerName">Power Name:</label>
              <input type="text" id="powerName" name="powerName" ng-model="hero.powerName"/>
            </div>
            <button class="delete" ng-click="deleteHero(Hero._id)">Delete</button>

              </div>
          </div>
        </div>
      </section>
